<!-- header.component.html -->

<header>
    <div class="header-mobile">
      <a class="header-toggle"><i class="fas fa-bars"></i></a>
      <h2>UES TENANGO</h2>
    </div>
  
    <!-- Left Block -->
    <nav class="header-main" data-simplebar>
      <!-- Logo -->
      <div class="logo">
        <img src="img/colibri.png" alt="">
      </div>
  
      <ul>
        <li data-tooltip="Inicio" data-position="top">
          <a routerLink="/home" class="icon-h fas fa-house-damage"></a>
        </li>
        <li data-tooltip="Acerca" data-position="top">
          <a routerLink="/about" class="icon-a fas fa-user-tie"></a>
        </li>
        <!-- Agrega enlaces para los demás secciones según tu aplicación -->
      </ul>
    </nav>
  </header>
  