<div class="main-content mx-md-5">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary text-center">
        <h4 class="card-title">REGISTRO DE TARIMAS</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="palletForm">
          <div fxLayout="row">
            <!--  <div fxLayout="column" fxFlex="25">
              <div fxLayout="row" style="align-items: center;" fxLayoutGap="10px">
                <div fxFlex="20">
                  <label>Viaje</label>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="trip" style="text-align:center;"
                    readonly>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center;" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Destino</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="destination" style="text-align:center;" readonly>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center;" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Planta</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="text" formControlName="plant" style="text-align:center;"
                    readonly>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center;" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Factura</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="bill" style="text-align:center;" type="text">
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center;" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Placas</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="plates" style="text-align:center;" type="text">
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center;" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Chofer</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="driver" style="text-align:center;"
                    type="text">
                </mat-form-field>
              </div>
            </div> -->

            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <label>Código</label>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-select formControlName="sku">
                    <mat-option *ngFor="let sku of skus" [value]="sku">
                      {{ sku.sku + " " + sku.type_sku }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div fxFlex="100">
                </div>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>#Cajas</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input type="number" matInput autocomplete="off" formControlName="number_boxes"
                    style="text-align: center" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Peso neto</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="net_weight"
                    style="text-align: center" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Fecha corte</span>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <input matInput [matDatepicker]="picker" formControlName="dateCut" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>#Papeleta</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="number_ticket" style="text-align: center"
                    type="text" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Caja</span>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-select formControlName="box_type">
                    <mat-option *ngFor="let box of boxes" [value]="box">
                      {{ box.name_box }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <label>Código 2</label>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-select formControlName="sku2">
                    <mat-option *ngFor="let sku of skus" [value]="sku" (click)="reclasification()">
                      {{ sku.sku + " " + sku.type_sku}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>#Cajas</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="number_boxes2"
                    style="text-align: center" (keyup)="difBoxes()" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Peso Bruto</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="total_weight"
                    style="text-align: center" (keyup)="netweight()" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Peso Fac.</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="fact_weight" style="text-align: center"
                    type="number" readonly />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>#Papeleta</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="number_ticket2" style="text-align: center"
                    type="text" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Caja 2</span>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-select formControlName="box_type2">
                    <mat-option *ngFor="let box of boxes" [value]="box" (click)="netweight()">
                      {{ box.name_box }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Tarima</span>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-select formControlName="pallet_type">
                    <mat-option *ngFor="let pallet of pallets" [value]="pallet" (click)="netweight()">
                      {{pallet.description_pallet}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Temperatura</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="temperature"
                    style="text-align: center" type="text" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Fleje</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="text" formControlName="fleje" style="text-align: center"
                    type="text" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <label>U.Cj.</label>
                </div>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-select formControlName="unit">
                    <mat-option *ngFor="let u of Ucj" [value]="u" (click)="netweight()">
                      {{u}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Peso Neto</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" formControlName="net_weight2" style="text-align: center"
                    type="number" readonly />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Tara</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="tara" style="text-align: center"
                    readonly />
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column" fxFlex="25">
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Reclasificación</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput type="number" formControlName="reclasification" style="text-align: center"
                    readonly="true" />
                </mat-form-field>
              </div>
              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Dif.Cj.</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="dif_boxes"
                    style="text-align: center" readonly />
                </mat-form-field>
              </div>
              <div class="row">
                <div class="column" fxFlex="50">
                  <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                    <div fxFlex="30">
                      <span>P.min</span>
                    </div>
                    <mat-form-field appearance="standard" class="input" fxFlex="50">
                      <input matInput autocomplete="off" type="number" formControlName="min_weight"
                        style="text-align: center" readonly />
                    </mat-form-field>
                  </div>
                </div>
                <div class="column" fxFlex="50">
                  <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                    <div fxFlex="30">
                      <span>P.max</span>
                    </div>
                    <mat-form-field appearance="standard" class="input" fxFlex="50">
                      <input matInput autocomplete="off" type="number" formControlName="max_weight"
                        style="text-align: center" readonly />
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div fxLayout="row" style="align-items: center" fxLayoutGap="10px">
                <div fxFlex="20">
                  <span>Diferencia KG</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="number" formControlName="dif_kg" style="text-align: center"
                    readonly />
                </mat-form-field>
              </div>

              <div fxLayout="column" style="align-items: center" fxLayoutGap="0">
                <div fxFlex="20">
                  <span>Codigo de barras</span>
                </div>
                <mat-form-field appearance="standard" class="input" fxFlex="50">
                  <input matInput autocomplete="off" type="text" formControlName="code" style="text-align: center"
                    type="text" />
                </mat-form-field>
              </div>

              <div fxLayout="column" style="align-items: center" fxLayoutGap="0">
                <div fxFlex="20">
                  <span>Comentarios</span>
                </div>
                <mat-form-field appearance="standard" class="text" fxFlex="50">
                  <textarea matInput autocomplete="off" cdkTextareaAutosize formControlName="comments"
                    style="text-align: center" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
      <button mat-raised-button class="style-raised-button" (click)="createPallet()" [routerLink]="'/emicelio/pallet'">
        Registrar
      </button>
    </div>
  </div>
</div>