<div class="main-content mx-md-5">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Consulta de Horario</h4>
      </div>
      <div class="card-body">
        <!-- Display grades using Angular's *ngFor directive -->
        <table class="table">
          <thead>
            <tr>
              <th>Materia</th>
              <th>Lunes</th>
              <th>Martes</th>
              <th>Miercoles</th>
              <th>Jueves</th>
              <th>Viernes</th>
              <!-- Agrega las demás columnas según tus necesidades -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grade of studentSchedule">
              <td>{{ grade.subject_name }}</td>
              <td>{{grade.monday}}</td>
              <td>{{grade.thursday}}</td>
              <td>{{grade.wednesday}}</td>
              <td>{{grade.tuesday}}</td>
              <td>{{grade.friday}}</td>
              <!-- Agrega las demás celdas según tus necesidades -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
