.style-button-add-icon {
    background-color: #78BE20;
    color: white;
}

#customers th {
    background-color: #78BE20;
}

#ci th {
    background-color: #78BE20;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}

.style-raised-button {
    height: 40px;
    background-color: #78BE20;
    color: white;
}

#ci td {
    text-align: center;
}

.btn-flotante {
    color: #ffffff;
    /* Color del texto */
    background-color: #78BE20;
    /* Color de fondo */
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.center {
    text-align: center;
}

.gray {
    color: #00000059;
    text-align: center;
}

.eye {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    padding: 2px 2px;
}