<div fxLayout="column" style="padding: 1rem;">

    <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
            <h3 class="style-title-child-page">{{title}} usuario</h3>
        </div>
    </div>

    <form [formGroup]="userForm">

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div *ngIf="passwordRequired" fxFlex="50">
                <span>Contraseña</span>
            </div>
            <div *ngIf="!passwordRequired" fxFlex="50">
                <span>Nueva contraseña</span>
            </div>
            <mat-form-field fxFlex="45">
                <input matInput [type]="typePassword" autocomplete="off" formControlName="password" [required]="passwordRequired">
                <span class="material-icons eye" (click)="showPassword()">{{iconEye}}</span>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div fxFlex="50">
                <span>Correo</span>
            </div>
            <mat-form-field fxFlex="45">
                <input matInput autocomplete="off" required nonecomplete="off" type="email" formControlName="email" (ngModelChange)="emailValidator($event)">
                <mat-error>
                    Correo electrónico <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="domainValidator == false">
                    Correo electrónico debe ser de <strong>@monteblanco.com.mx</strong>
                </mat-error>

            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div fxFlex="50">
                <span>Usuario</span>
            </div>
            <mat-form-field fxFlex="45">
                <input matInput autocomplete="off" type="text" formControlName="user_name">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div fxFlex="50">
                <span>Nombre completo</span>
            </div>
            <mat-form-field fxFlex="45">
                <input matInput autocomplete="off" type="text" oninput="this.value = this.value.replace(/[^aA-zZñáÁéÉíÍóÓúÚ&\ ]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" formControlName="name">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div fxFlex="50">
                <span>Rol</span>
            </div>
            <mat-form-field fxFlex="45">
                <mat-select matInput formControlName="role" matNativeControl>
                    <mat-option *ngFor="let option of data.roles" [value]="option.id">
                        {{option.data.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div fxFlex="50">
                <span>Planta(s)</span>
            </div>
            <mat-form-field fxFlex="45">
                <mat-select matInput formControlName="plants" matNativeControl>
                    <mat-option style="display: none;" value="Seleccionar">
                        Seleccionar
                    </mat-option>
                    <mat-option (click)="clickOption()" *ngFor="let plant of plants; let i = index" [value]="plant">
                        <mat-checkbox [formControl]="plantsCtrl[i]" (click)="clickPlantCheck($event, plant)" color="warn" labelPosition="before">{{plant}}</mat-checkbox>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
            <div fxFlex="50">
                <span>Planta(default)</span>
            </div>
            <mat-form-field fxFlex="45">
                <mat-select *ngIf="this.data.userData === undefined" matInput formControlName="plant_default" matNativeControl>
                    <mat-option *ngFor="let plant of selectedPlants" [value]="plant">
                        {{plant}}
                    </mat-option>
                </mat-select>
                <mat-select *ngIf="this.data.userData !== undefined" matInput formControlName="plant_default" matNativeControl>
                    <mat-option *ngFor="let plant of selectedPlantsDefault" [value]="plant">
                        {{plant}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div>
            <button mat-raised-button class="style-button-cancel" fxFlex (click)="dialogRef.close('cancel')">
        Cancelar
      </button>
        </div>
        <div>
            <!-- <button mat-raised-button (click)="addOrUpdate()" class="style-raised-button" fxFlex [disabled]="userForm.invalid || domainValidator == false || selectedPlants.length === 0 || plantDefautlFormContrl.value === ''">
                {{this.data.userData !== undefined ? 'Actualizar' : 'Guardar' }}
            </button> -->
            <button mat-raised-button (click)="addOrUpdate()" class="style-raised-button" fxFlex [disabled]="userForm.invalid || domainValidator == false">
                {{this.data.userData !== undefined ? 'Actualizar' : 'Guardar' }}
            </button>
        </div>
    </div>
</div>