<div class="main-content mx-md-5">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary text-center">
        <h4 class="card-title">Consulta de calificaciones</h4>
      </div>
      <div class="card-body">
        <!-- Display grades using Angular's *ngFor directive -->
        <table class="table">
          <thead>
            <tr>
              <th>Grupo</th>
              <th>Materia</th>
              <th>Calificacion</th>
              <th>Maestro</th>
              <th>Asistencia</th>
              <!-- Agrega las demás columnas según tus necesidades -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grade of studentGrades">
              <td>{{ grade.group_name }}</td>
              <td>{{ grade.subject_name }}</td>
              <td>{{grade.score}}</td>
              <td>{{grade.name}}</td>
              <td>{{ grade.attendance }}</td>
              <!-- Agrega las demás celdas según tus necesidades -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
